/Practica1/nbproject/private/
/Practica1/build/
/Practica1/dist/
/ADA.Practica2/nbproject/private/
/Practica2/nbproject/private/
/Practica2/build/
/Practica3/JavaApplication5/nbproject/private/
/Practica3/p3_angposa_dandiaz/nbproject/private/
/Practica3/p3_angposa_dandiaz/build/